*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-family: sans-serif;
    list-style: none;
    }

body {
    background: black;
    color: white;}
    a {
        text-decoration: none;
    }
    ul{
        list-style: none;
    }
    img {
        max-width: 100%;
    }

/* CONTAINER */

.container {
    background: url(../Imagens/fundo-filmes-pequena.jpg)  center no-repeat;
    border-bottom: 8px solid #222;
    display: grid;
}

.container .main{
    text-align: center;
    z-index: 1;
    width: 100%;
    align-items: center;
}
.container .main h1{
    font-size: 2.55rem;
    font-weight: bold;
    z-index: 1;
    padding-top: 50px;
}

.container .main h2{
    font-weight: normal;
    z-index: 1;
    padding-top: 2%;
}

/* Main */

.main{
    padding: 3% 4%;
}

.main p {
    font-size: 19px;
    margin-top: 40px;
    }

.main h2 {
    font-size: 1.5em;
    font-weight: bold;
}

/* Header */

.header {
    width: 100%;
    
    padding: 3% 4%;
    z-index: 100;
}

.logo {
    width: 150px;
    height: 50px;
    float: left;
    background: url(../Imagens/netflix-logo.png) center/100px no-repeat;
    font-size: 0;
   
}
.select-linguage{
    padding-left: 1px;
    width: 133px;
    height: 32px;
    font-weight: none;
    
}

.redbutton {
    display: inline-flex;
    float: right;
    cursor: pointer;
    text-align: center;
    color: rgb(250, 248, 248);
    background-color: rgb(201, 0, 0);
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 2%;
    padding: 6px 16px;
    align-items: center;
    font-weight: bold;
   
}

.redbutton a{
    font-size: 0;
}

.header select {
    display: inline-flex;
    background:#505052;    
    color: rgb(255, 255, 255);
    align-self: flex-start;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 2%;
    z-index: 1;
    float: right;
}

/*Formulário dentro do MAIN*/
.cta-form, .form-foot {
    margin-top: 2%;
    margin: 0;


}
.cta-simple  {
    margin-bottom: 2%;
    padding: 5%;
    padding-top: 14px;
    padding-bottom: 14px;
}


.cta-form input, .form-foot input  {
    margin-bottom: 2%;
    padding: 5%;
    padding-top: 14px;
    padding-bottom: 14px;
    box-sizing: border-box;
    width: 100%;
    
}

.cta-form button, .form-foot button {
    background: #e50914;
    margin-bottom: 0px;
    border: none;
    color: white;
    font-size: 16px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    

 }

.btn-custom span {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

.cta-simple2 {
    padding: 5% 5%;
}

 /*Gradiente dentro do MAIN*/


.gradient {
    z-index: -1;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }

    /*Aproveite na TV First Mobile*/

.hero-tv {
    background: black;
    padding: 3rem;
    border-bottom: 8px solid #222;
    text-align: center;
}
    
.hero-tv h1 {
    font-size: calc( 30px + (16 - 8) * (7vw - 40px) / (80 - 40) ); 
    margin-bottom: 16px;
    text-align: center;
}

.hero-tv p {
    text-align: center;
    font-size: calc( 16px + (16 - 8) * (7vw - 40px) / (80 - 40) ); 
}
  .img-tv {
    position: relative;
  }
  
  .img-tv img {
    position: relative;
    z-index: 1;
  }

.video-tv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/*assistir offline First Mobile*/

.hero-offline {
    background: black;
    padding: 3rem ;
    border-bottom: 8px solid #222;
    text-align: center;
}

.hero-offline h1 {
    font-size: calc( 30px + (16 - 8) * (7vw - 40px) / (80 - 40) ); 
    margin-bottom: 16px;
    text-align: center;
}

.hero-offline p {
    text-align: center;
    font-size: calc( 16px + (16 - 8) * (7vw - 40px) / (80 - 40) ); 
}


.mobile img{
    max-width:450px;
    max-height:450px;
    width: auto;
    height: auto;
}

/*Assista quando quiser First Mobile*/
    
.hero-full{
    background: black;
    padding: 3rem ;
    border-bottom: 8px solid #222;
    text-align: center;
}

.hero-full h1 {
    font-size: calc( 30px + (16 - 8) * (7vw - 40px) / (80 - 40) ); 
    margin-bottom: 16px;
    text-align: center;
}

.hero-full p {
    text-align: center;
    font-size: calc( 16px + (16 - 8) * (7vw - 40px) / (80 - 40) ); 
}

.mac img {
    max-width:450px;
    max-height:450px;
    width: auto;
    height: auto;
}

/*perfis para crianças First Mobile*/
      
.hero-kids{
    background: black;
    padding: 3rem;
    text-align: center;
    border-bottom: 8px solid #222;
}

.hero-kids h1 {
    font-size: calc( 30px + (16 - 8) * (7vw - 40px) / (80 - 40) ); 
    margin-bottom: 16px;
    text-align: center;
}

.hero-kids p {
    text-align: center;
    font-size: calc( 16px + (16 - 8) * (7vw - 40px) / (80 - 40) ); 
}

.inf-funfo img {
    max-width:450px;
    max-height:450px;
    width: auto;
    height: auto;
}

/* Perguntas frequantes */


.faq {
    width: 100%;
    padding: 0 10%;

  }
  
  .faq-title{
    font-size: 2.125rem;
    font-weight: bold;
    padding-top: 4%;
    text-align: center; 
}
  
.question {
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #303030;
    max-width: 96%;
    margin-left: 2%;
    margin-top: 2%;
}

.question input, .question .answer {
    display: none;
}

.question label {
    text-align: left;
    display: block;
    padding-left: 22px;
}

.question input:checked ~ .answer {
    display: block ;
}

.accordion {
    display: block;
    font-size: 20px;
    background-color: #303030;
    color: rgb(255, 255, 255);
    text-align: left;
    
}

.answer {
    border-top: 1px solid #ccc;
    font-size: 20px;
    margin: 2% 2%;
}
  
/* Footer */

.footer {
    border-top: 8px solid #222;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 20px;
    color: #757575;
    position: relative;

}

.footer-1{
    max-width: 900px;
    margin-left: 20%;
}
.footer-1 a {
    text-decoration: none;
    color:#757575;
}


.footer p {
    font-size: 1em;
    margin: 30px 0 30px 30px; 

}



.footer li {
    display: inline-block;
    font-size: 0.7em;
    width: 155px;
    height: 30px;
    align-items: center;

}

.footer li a{
    text-decoration: none;
    color: #757575; 
}

.footer li:hover {
    text-decoration: underline;
}

.footer p:hover {
    text-decoration: underline;
}


@media screen and (min-width: 840px) {

.logo {
    width: 250px;
    height: 50px;
    float: left;
    background: url(../Imagens/netflix-logo.png) center center/150px no-repeat;
    font-size: 0;
}
    
/* main*/

.container main{
    max-width: 640px;
    margin: 0 auto;
    height: 585px;
    padding-top: 5%;
    padding-bottom: 3%;

}
.container .main h1{
    font-size: 3.125rem;

}

.gradient {
    height: auto;
        max-height: 100%;
}


.cta-form, .form-foot {
    display: inline-flex;
    margin-bottom: 10px;
    padding-top: 10px;

    }
  
.cta-form input, .form-foot input {
    padding-right: 200px;
    text-align: left;
    margin: 0;

    }

/* form foot */

.cta-simple2 {
    max-width: 740px;
    margin: auto auto;

}
.footer li {
    font-size: 0.9em;
    width: 200px;
    height: 40px;
}

/*Aproveite na TV*/

    .hero-tv {
        z-index: 1;

    }  
      
    .hero {
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        align-items: center;
        
    }
    .hero-tv p {
        margin-left: 150px;
        text-align: left;
        font-size: 1.425rem;
        font-weight: 400;
    }


    .hero-tv h1 {
        margin-bottom: 16px;
        margin-left: 150px;
        font-weight: bold;
        text-align: left;
        
    }

    
    /*assistir offline*/
      
    .hero-offline .hero > div:first-child {
        order: 2;
        }
      
    .hero-offline .img-tv {
        order: 1;
    }

    .hero-offline h1 {
        margin-bottom: 16px;
        margin-right: 150px;
        font-weight: bold;
        text-align: left;
    }
    .hero-offline p {
        margin-right: 150px;
        text-align: left;
        font-size: 1.425rem;
        font-weight: 400;
    }

    .mobile img{
        margin-bottom: 5vw;
        margin-top: 5vw;
        margin-left: 4vw;
    }


 /*Assista quando quiser*/

.mac img {
    margin-bottom: 5vw;
    margin-top: 5vw;
}
.hero-full p {
    margin-left: 150px;
    text-align: left;
    font-size: 1.425rem;
    font-weight: 400;
}


.hero-full h1 {
    margin-bottom: 16px;
    margin-left: 150px;
    font-weight: bold;
    text-align: left;
}
.faq-title{
    font-size: 3.125rem;
}
.accordion, .answer{
    font-size: 26px;
    
}


/*perfis para crianças*/
      
    
.hero-kids .hero > div:first-child {
    order: 2;
}
    
.hero-kids .inf-funfo {
    order: 1;
    
    }

.hero-kids h1 {
    margin-bottom: 16px;
    margin-right: 150px;
    font-weight: bold;
    text-align: left;
}

.hero-kids p {
    margin-right: 150px;
    text-align: left;
    font-size: 1.425rem;
    font-weight: 400;
}

.inf-funfo img {
    margin-bottom: 5vw;
    margin-top: 5vw;
    margin-left: 4vw;
}
}

